body {
    background-color: #d6d2d2;
    font-family: 'Source Sans 3', sans-serif;
}
.container {
    width: 375px;
    height: auto;
    background-color: #FFFFFF;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0  15px;
}
.logo {
    width: 130px;
}
.avatar {
    width: 37px;
    height: 37px;
    border-radius: 50%;
}
#posts-el {
    margin: 0;
    padding: 0;
}
.card {
    position: relative;
}
.card-header {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 10px;
    padding: 10px;
}
.header-description p {
    margin: 0;
}
.post-image {
    width: 375px;
    user-select: none;
}
.description--container {
    padding-left: 10px;
    margin: 10px 0 20px 0 ;
}
.description--container p {
    margin: 5px 2px;
}
.buttons-container {
    display: flex;
    gap: 5px;
    user-select: none;
}
.buttons-container img {
    width: 20px;
}
.buttons-container button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 2px;
}
.buttons-container button:hover {
    filter: opacity(0.5);

}
#heart-img:active {
    background-image: url('images/icon-heart-active.png');
    background-size: cover; 
}
.separator {
    height: 20px;
    background-color: #EDEDED;
    border: none;;
}
.post-heart {
    position: absolute;
    left: 150px;
    top: 220px;
    width: 60px;
    height: 60px;
    display: none;
}
